.required {
  color: red;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 15px;
}

.botones {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-guardar {
  background-color: #70DC73;
  color: #FFFFFF;
  border: 1px solid #70DC73;    
  border-radius: 4px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
}

.fechas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap:10px;
}

.form-group.fecha {
  width: 100%;
}