.spinner-overlay {
  position: fixed; /* Se queda fijo en la pantalla, aunque hagas scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté por encima de todo lo demás */
}

.spinner {
  border: 8px solid #f3f3f3; /* Gris claro */
  border-top: 8px solid #31A5DD; /* El azul de tu botón */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* Animación de rotación */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}